@page "/events"
@using System.Net.Http
@inject HttpClient Http
@inject IHttpClientFactory HttpClientFactory
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication


<MudPaper Class="d-flex justify-center py-7 p-5" Style="margin-top:20px; background-color: rgba(0,0,0,0.5)" Square="false">
    <MudText Typo="Typo.h2" Align="Align.Center" Style="margin-top: 10px; margin-bottom:20px; color: #ECEFF1"><b>Programok</b></MudText>
</MudPaper>
   
<MudPaper Class="d-flex flex-column align-items-center py-7 p-5" Style="margin-top:15px; height:75%; background-color: rgba(0,0,0,0.5)" Square="false">
    <MudGrid Style="margin-top:10px; margin-bottom: 10px; width:100%">
        <MudItem xs="12">
            <MudPaper Class="d-flex justify-center py-7 p-5" Square="false">
                <MudGrid Spacing="10" Justify="Justify.Center" Class="align-items-end pb-5">
                    <MudItem xs="2" sm="2" Class="d-flex align-center justify-center mud-width-full py-8">
                        <MudText Typo="Typo.body1" Align="Align.Right" Style="font-size:20px">Szűrés:</MudText>
                    </MudItem>
                    <MudItem xs="4" sm="4" Class="d-flex align-center justify-center mud-width-full py-8">
                        <MudTextField T="string" Label="Szűrési feltétel..." Required="false" />
                    </MudItem>
                    <MudItem xs="4" sm="4" Class="d-flex align-center justify-center mud-width-full py-8">
                        <MudSelect T="string" Label="Mi alapján szűrjön..." Required="true" RequiredError="Kérlek válaszd ki mi alapján szűrjön!">
                            <MudSelectItem Value="@("Program neve")" />
                            <MudSelectItem Value="@("Helyszín")" />
                            <MudSelectItem Value="@("Dátum (yyyy-MM-dd)")" />
                            <MudSelectItem Value="@("Szervező neve")" />
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="2" sm="2" Class="d-flex align-center justify-center mud-width-full py-8">
                        <MudButton Variant="Variant.Outlined">Szűrés</MudButton>
                    </MudItem>

                </MudGrid>
            </MudPaper>
        </MudItem>
            @if (events != null)
            {

                if (events.Count() > 0)
                {
                    <div class="bastya" style="height:100%;overflow-y:scroll ;width:100%; padding:0 15px 0 15px">

                        <MudExpansionPanels Style="margin-top: 30px; margin-bottom: 30px; width:100%" Elevation="1" DisableBorders="true">

                            <Virtualize Items="events" Context="e" OverscanCount="4">
                                <EventComponent _event="e"></EventComponent>
                            </Virtualize>


                        </MudExpansionPanels>
                    </div>
                    }
                    else
                    {
                    <MudText Typo="Typo.h6" Align="Align.Center" Style="margin-top:40px; color:aliceblue">Nincsen egyetlen egy esemény sem.</MudText>
                    }
                    }

</MudGrid>
</MudPaper>      
        
    
   

@code {
    public List<EventDto> events;

    protected override async Task OnInitializedAsync()
    {
        var http = HttpClientFactory.CreateClient("BlazorPL.PublicServerAPI");
        events = await http.GetFromJsonAsync<List<EventDto>>("api/events");
    }

}
