@page "/my-events"

<AuthorizeView Roles="Organizer">

    <Authorized>

        <h3>OrganizerEvents</h3>

    </Authorized>
    <NotAuthorized>
        <AccessDenied></AccessDenied>
    </NotAuthorized>

</AuthorizeView>



@code {

}
