@inherits LayoutComponentBase

<body style="display:flex; flex-direction:column; padding:50px 0 50px 0;">
    <NavMenuAdmin />
    <div class="container h-100">
        @Body
    </div>
    <Footer />
</body>
