
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mynavbar">
    <div class="container container-fluid text-left justify-content-around pl-4">
        <a href="/admin"><img class="navbar-brand logo" src="https://festivall.blob.core.windows.net/images/logo_admin.png" height="40" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end text-right" id="navbarText">
            <ul class="navbar-nav mb-2 mb-lg-0 text-right">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/events">Programok</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/tickets">Jegyek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/orders">Rendelések</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">Felhasználók</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Kilépés az adminfelületből</a>
                </li>
            </ul>
        </div>

    </div>
</nav>

