@inherits LayoutComponentBase

<body style="display:flex; flex-direction:column">
<NavMenu />
    <div class="container h-100 " style="flex: 1 0 auto;">
                @Body
    </div>
<Footer />
</body>