@inherits LayoutComponentBase

<NavMenu />

<div class="container">
    <MudPaper Style="padding:35px; margin-top:20px; margin-bottom:20px; background-color: #EFEFEF">
        @Body
    </MudPaper>
</div>

<Footer />