@page "/logout"
@model LogoutModel
@attribute [IgnoreAntiforgeryToken]

@{
    ViewData["Title"] = "Kijelentkezés";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <section>
            <h1>@ViewData["Title"]</h1>
                <form class="form-inline text-center d-flex justify-content-around" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" method="post">
                    <button type="submit" class="nav-link btn btn-link text-white">Biztosan ki akarsz jelentkezni? Kattints ide ha igen.</button>
                </form>
        </section>
    </div>
    <div class="col-md-2"></div>
</div>