@page "/register"
@model RegisterModel
@{
    ViewData["Title"] = "Regisztrálás";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1>@ViewData["Title"]</h1>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Új felhasználó létrehozása.</h4>
            <hr />
            <div class="form-group">
                <label asp-for="Input.UserName">Felhasználónév</label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NickName">Becenév (opcionális)</label>
                <input asp-for="Input.NickName" class="form-control" />
                <span asp-validation-for="Input.NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-center">
                <div class="checkbox mr-3">
                    <input asp-for="Input.IsOrganizer" />
                </div>
                <label asp-for="Input.IsOrganizer"> Jelöld be a négyzetet, ha szervezőként regisztrálsz</label>
            </div>
            <div class="form-group d-flex justify-content-around">
                <button type="submit" class="btn btn-primary">Regisztrálás</button>
            </div>
            <div class="form-group d-flex justify-content-around">
                <button type="button" class="btn btn-primary">Mégse</button>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
