@page "/registerconfirmation"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
      A felhasználó aktiváló link elküldve. Kérlek nézd meg az emailedben a beérkezett üzeneteket!
</p>
    }
    else
    {
<p>
        Nézd meg a beérkezett üzeneteket.
</p>
    }
}
