@page "/resetpasswordconfirmation"
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Jelszómegváltoztatás megerősítve.";
}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <section>
            <h1>@ViewData["Title"]</h1>
            <p>
                A jelszavad megváltozott. Kattints <a asp-page="./Login">ide</a>, hogy bejelentkezz.
            </p>
        </section>
    </div>
    <div class="col-md-2"></div>
</div>