<MudExpansionPanel>
    <TitleContent>
        <div class="d-flex">
            <MudIcon Icon="@Icons.Material.Filled.Info" class="mr-3"></MudIcon>
            <MudText>Panel header as <strong>RenderFragment</strong></MudText>
        </div>
    </TitleContent>
    <ChildContent>
        Panel Content
    </ChildContent>
</MudExpansionPanel>

@code {

}
